/* colors */
:root {
    --medium-gray: #545454; 
    --light-gray: #d3d3d3; 
    --dark-red: #942637; 
}

/* INDEX */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    background-color: white;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: right;
    padding: 1em 2em;
    margin: 2em 3em;
    border-radius: 50px;
}

nav img {
    max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 2em;
    right: 0;
    bottom: 0;
    margin: auto 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav a {
    border: 2px solid transparent;
    border-radius: 50px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--medium-gray);
    font-weight: bold;
    transition: border-color 0.3s ease;
    padding: .5em 1em;
}

nav a:hover {
    border-color: var(--medium-gray);
    color: var(--dark-red);
}

main {
    display: flex;
}

.home {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#hero {
    font-size: 55px;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: .6em;
}

#name{
    margin: .3em 0;
    text-align: justify;
}

.hero-desc{
    font-size: 15px;
    color: var(--medium-gray);
    font-weight: normal;
    text-align: justify;
}

.hero-desc.long{
    padding-top: 2.5em;
}

.hero-desc.short{
    padding-top: 1.5em;
    font-weight: bold;
    font-style: italic;
}

.hero-desc.accent {
    font-weight: bold;
    font-size: 20px;
    color: var(--dark-red);
}

.button {
    border: 2px solid var(--medium-gray);
    border-radius: 50px;
    text-decoration: none;
    color: var(--dark-red);
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: .5em 1em;
}

.button:hover{
    background-color: var(--medium-gray);
    color: white;
}

footer {
    text-align: center;
    padding: 1em 0;
    color: #fff;
    background-color: var(--medium-gray);
}

/* PROJECTS */

.projects {
    margin: 20px;
    padding: 40px;
}

.heading {
    margin-top: 2em;
    font-size: 45px;
    font-weight: bold;
    color: var(--light-gray);
    /* text-align: right; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.project-item {
    width: 100%;
    border: 2px solid transparent;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); 
    background-color: #fff;
    text-align: center;
    border-right: 10px solid var(--medium-gray);
    border-left: 10px solid var(--medium-gray);
}

.wrapper {
    display: flex;
    padding: 20px 0;
    padding-left: 15px;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px;
}

.pictures img {
    width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); 
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wrapper1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title h2{
    color: var(--light-gray);
    font-size: 40px;
}

.title p{
    font-weight: bold;
    color: var(--dark-red);
    font-size: 28px;
    padding-left: .3em;
}

.logo {
    display: flex;
    align-items: center;
    background-color: var(--medium-gray);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 10px;
}

.logo img{
    width: 80px;
    height: 80px;
    padding-right: 10px;
}

.desc{
    text-align: justify;
    margin: 0 2em;
    font-size: 20px;    
}

.parag{
   padding: 1.5em 0;
}

.desc-grid{
    display: grid;
    grid-template-columns: 1fr 2fr; 
    font-size: 17px;
    text-align: justify;
}

.desc-grid p {
    padding: .2em;
    font-weight: bold;
}

.desc1 {
    color: var(--medium-gray)
}

.desc2{
    text-align: left;
    color: var(--dark-red);
}






